# Sequences, Summations, Recursion

Learn more about sequences, summations, and recursion through the following Python examples.

## Sequences

Is this an arithmetic or geometric sequence?

$ 1, 6, 11, 16, 21 $

### Expand for discussion

An arithmetic sequence is a sequence in which there is a common difference between every subsequent two terms. 

Notice in the example above, there is a difference of 5 between each subsequent two terms.

Any arithmetic sequence can be expressed using an equation of the form

$a_n = a_0 + nd$,

where $a_0$ represents the initial or starting term, and $d$ represents the common difference between subsequent terms.

The sequence $1, 6, 11, 16, 21$ is an arithmetic sequence of the form:

$a_n = a_0 + nd$, where $a_0=1$, $n=0,1,2,3,4$, and $d=5$.

\
\
We can use the Python `range()` function to create some arithmetic sequences. `range()` takes a starting value, an ending value, and an optional "step" value.

In [ ]:
# We can use the range() function to generate some arithmetic sequences
result = [*range(1, 22, 5)]
print(result)

Can we generate *any* arithmetic sequence with Python?

What about a sequence where $d$ is not an integer?

Example:
$a_n = a_0 + n*1.5$, where $a_0 = 1$ and $d=1.5$

In [ ]:
# Will this work? Run it to find out.
[*range(0, 10, 1.5)]

Is there a way to generate this arithmetic sequence in Python?

##### Expand to find out

In [ ]:
# Generate an arithmetic sequence where a_0 = 1 and d = 1.5

a_0 = 1
d = 1.5
[a_0 + n*d for n in range(0,10)]

Note how we can use a list comprehension to easily generate any arithmetic sequence.

\
\
If we want to get the $nth$ term in a sequence rather than all of the first $n$ terms, we can do it this way, using a `lambda` function:

In [ ]:
sequence = lambda n: a_0 + n*d
sequence(9) # get the 9th term of the sequence

###  Continue learning about sequences

Is this an arithmetic or geometric sequence?

$1, 3, 9, 27, 81$

####  Expand for discussion

This is a geometric progression of the form:

$a_n = a_0 * r^n$, where $a_0=1$, $n=0,1,2,3,4$, and $r=3$

Just like with an arithmetic progression, we can generate a geometric progression using a list comprehension.

In [ ]:
# Using list comprehension
a_0 = 1
r = 3
result = [a_0 * r**n for n in range(0, 5)]
print(result)

In [ ]:
# Using a different a_0
a_0 = 4
r = 3
result = [a_0 * r**n for n in range(0, 5)]
print(result)

#### You try it

Write a Python list comprehension to generate this sequence:

2.0, 1.0, 0.5, 0.25, 0.125, 0.0625, 0.03125, 0.015625, 0.0078125, 0.00390625

Is this geometric or arithmetic?

#####

In [ ]:
#@title Sample Solution {display-mode: "form"}
a_0 = 2
r = 0.5
result = [a_0 * r**n for n in range(10)]
print(result)

## Recurrence relations

Write a function to generate the sequence $f_n$ where 

$f_0 = 4$\
$f_n = f_{n-1} + 2n \text{,   for } n\ge1$

In [ ]:
# Define the function
def f(n):
    if n==0:
        return 4
    else:
        return f(n-1) + 2*n

In [ ]:
# Display the first 10 numbers in the sequence
[f(n) for n in range(10)]

Using lambda

In [ ]:
f = lambda n: 4 if n==0 else f(n-1) + 2*n

[f(n) for n in range(10)]

### Try it

Write a function, then generate the first 10 numbers in $f_n$ defined as:

$f_0 = 1$\
$f_n = n^2 * f_{n-1} \text{, for } n\ge 1$

####

In [ ]:
def f(n):
    if n==0:
        return 1
    else:
        return n**2 * f(n-1)
    
[f(n) for n in range(10)]

In [ ]:
f = lambda n: 1 if n==0 else n**2 * f(n-1)
[f(n) for n in range(10)]

In [ ]:
[*map(lambda n: 1 if n==0 else n**2 * f(n-1), range(10))]

##### Fibonacci
The Fibonacci sequence is defined as:

$f_0 = 0$\
$f_1 = 1$\
$f_n = f_{n-1} + f_{n-2} \text{ , for } n\ge2$

Write a function using *lambda*, then generate the first 10 numbers in the sequence.

######

In [ ]:
fib = lambda n: 0 if n==0 else 1 if n==1 else fib(n-1) + fib(n-2)
[fib(n) for n in range(10)]

In [ ]:
%%timeit
[fib(n) for n in range(10)]

In [ ]:
# Better using tail recursion
fib = lambda n, a=0, b=1: a if n==0 else b if n==1 else fib(n-1, b, a+b)
%timeit [fib(n) for n in range(10)]

Another way, using a generator with Python `yield`. This is not using recursion, but generating each fib number iteratively.

In [ ]:
def fib():
    a = 0
    b = 1
    while True:
        yield b
        a,b = b,a+b

In [ ]:
f = fib()
print([next(f) for _ in range(20)])

In [ ]:
%%timeit
f = fib()
[next(f) for _ in range(10)]

## Summations

Let's find the answer to this summation using Python.

$$ \sum_{i = 1}^{100}  i = 1 + 2 + 3 + 4 + \dots  + 100$$

#### In Python

In [ ]:
# Using sum
result = sum(range(1,101))
print(result)

#### Another way

In [ ]:
# Using reduce
from functools import reduce
result = reduce(lambda a,b: a + b, range(1, 101))
print(result)

# Can also use the 'add' operator
from operator import add
result = reduce(add, range(1, 101))
print(result)

#### Use Python to find the following summation:


$$ \sum_{k=1}^{42} k^2 = 1^2 + 2^2 + 3^2 + 4^2 + \dots + 42^2 = 1 + 4 + 9 + 16 + \dots = ? $$

##### Sample Solution:

In [ ]:
# Using list comprehension
n = 42
result = sum([k**2 for k in range(1, n+1)])
print(result)

In [ ]:
# Using lambda
result = sum(map(lambda k: k**2, range(1, n+1)))
print(result)

In [ ]:
# Using reduce
from functools import reduce
from operator import add
result = reduce(add, map(lambda i: i**2, range(1,n+1)))
print(result)