# Sets

## Cartesian Product

### Find $ A \times A$ if $A = \{0,1\}$

In [ ]:
A = {0, 1}

{(x,y) for x in A for y in A}

#### How would we do a Cartesian Product of {1,2,3} and {a,b,c} in Python?

In [ ]:
# Cartesian Product
A = ['a', 'b', 'c']
B = [1,2,3]

# Using a list comprehension
cartesian_product = [(a,b) for a in A for b in B]
print(cartesian_product)

len(cartesian_product)

In [ ]:
# Using product function
from itertools import product
cartesian_product = [*product(A,B)]

# cartesian_product = product(A,B)
print(cartesian_product)

In [ ]:
# Note that A x B is not the same as B x A
axb = [*product(A,B)]
bxa = [*product(B,A)]
print(axb)
print(bxa)

A = {0, 1}

What is $ A \times A \times A $?

In [ ]:
A = {0,1}

print(*product(A,A,A))

In [ ]:
# Another way
for a in A:
  for b in A:
    for c in A:
      print(a,b,c)

## Group activity

You own an ice cream shop. If you offer 15 different flavors of ice cream, how many types of 3-scoop cones might you be able to claim in your advertising if you use the Cartesian product to build the set of possibilities?

### Sample solution

In [ ]:
# represent each of the 15 different flavors
flavors = range(0,15)

# compute Cartesian Product
number_of_possible_cones = len([(scoop1, scoop2, scoop3) for scoop1 in flavors for scoop2 in flavors for scoop3 in flavors])

print(number_of_possible_cones)

In [ ]:
# Using product function
from itertools import product
len([*product(flavors,flavors,flavors)])

In [ ]:
# Shorter way:
flavors = 15
n = flavors**3
print(n)

# Functions

In [ ]:
def square(n):
  return n*n

Try this out on your own. Can you demonstrate the domain? How about the codomain?

#### What is the domain?

All Real Numbers ($\mathbb{R}$)

#### What is the codomain?

All positive real numbers and 0 ($\mathbb{R}^+ \cup {0}$)

#### Demonstration

In [ ]:
print(square(2))
print(square(0))
print(square(-1))
print(square(3.14))



---

### Floor

In [ ]:
from math import floor
floor(-3.5)

### Ceiling

In [ ]:
from math import ceil
ceil(-0.5)

## Functional Programming

### Lambdas

In [ ]:
# Simple example, what does this do?
z = 5
print((lambda x: x * x) (z))

In [ ]:
# This is the same thing as:
def square(x):
  return x * x

print(square(5))

In [ ]:
# We could also do this:

square = lambda x: x*x

print(square(5))
print(square(10))

In [ ]:
# Lambda with two arguments

result = (lambda a,b: a + b)(2,3)
print(result)

In [ ]:
result = (lambda a,b: 2*a+4*b)(2,3)
print(result)

#### Map

In [ ]:
# Show how map works
nums = [1,2,3,4,5]

# Double each number in the list
result = [*map(lambda x: x * 2, nums)]

print(result)

In [ ]:
# Or do something else with each number in the list
result = [*map(lambda x: 3*x - 1, nums)]
print(result)

In [ ]:
# Simple encryption algorithm that shifts 
# each character by 3
alphabet = [chr(letter + 32) for letter in range(0, 95)]
print(alphabet)

rotate = lambda text, shift: ''.join(map(lambda c: alphabet[alphabet.index(c) - shift % len(alphabet)], text))
derotate = lambda text, shift: rotate(text, -shift)

plaintext = 'Hello class, this is the plaintext'
print('Plaintext:', plaintext)
ciphertext = rotate(plaintext, 5)
print('Ciphertext:', ciphertext)
print('Plaintext:', derotate(ciphertext, 5))

#### Filter

In [ ]:
# Show how filter works

nums = [1,2,3,4,5]

# Find everything greater than 2
result = [*filter(lambda x: x != 2, nums)]
print(result)

#### Reduce

In [ ]:
# Show how reduce works

nums = [1,2,3,4,5]

# Add up five numbers in a list the loop way
result = 0
for x in nums:
  result += x

print(result)

In [ ]:
# Add up five numbers in a list using reduce
from functools import reduce

result = reduce(lambda a, b: a + b, nums) # 1 + 2 + 3 + 4 + 5 = 15
print(result)

In [ ]:
# Combine items in a list
bits = ['0', '0', '1', '1', '0']
result = reduce(lambda a,b: a + ' ' + b, bits)
print(result)

# We can also use the string.join method:
result = ' '.join(bits)
print(result)

In [ ]:
# Find the max
nums = [5,3,2,6,9,10,1,0,4]
result = reduce(lambda a,b: a if a > b else b, nums)
print(result)
print(nums)

The real power of lambda functions comes when we need to pass a function as an argument to another function, or return a function as the result of another function. For example, the builtin Python function `filter` takes two arguments. The first argument is a *function* that represents a property or *predicate* returning `True` or `False`. The second argument is an iterable, such as a list or set. The `filter` function will return an iterator containing only those items from the original  that match the predicate.

Here is an example of using `filter` and a `lambda` function to select only those items in the list `s` that are multiples of 3.

In [ ]:
s = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
result = filter(lambda x: not x%3, s)
print(result) # prints an iterator

Notice that we can extract the results from the `filter` function by using the `unpack` operator `*`.

In [ ]:
print(*result) # unpack the elements in the filter object

We can use the `unpack` operator to extract from the `filter` iterator directly:

In [ ]:
s = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
result = [*filter(lambda x: not x%3, s)]
print(result)

In [ ]:
# Find all multiples of 3 or 7 up to 100
result = [*filter(lambda x: not x%3 or not x%7, range(100))]
print(result)

# Find all multiples of 3 and 7 up to 100
result = [*filter(lambda x: not x%3 and not x%7, range(100))]
print(result)